<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Denver Housing Justice</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4/css/tachyons.min.css">
  </head>
  <body class="bg-light-blue dark-gray sans-serif lh1 lh-copy">
    <div class="w-80 center">
      <div class="fl w-100 pa2">
        <h1 class="f-headline lh-solid tc">Denver Housing Justice</h1>
      </div>
      <div class="fl w-50 pa2">
        <h2 class="f2">News</h2>
        {{ news }}
      </div>
      <div class="fl w-50 pa2">
        <h2 class="f2">Advocates</h2>
        {{ advocates }}
      </div>
  </body>
</html>
